// HEADER START
.header {
    position: relative;
    background-color: $white-color;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    z-index: 100;

    .site-logo {
        margin-right: 25.1rem;
       
    }

    &__inner-wrapper {
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: space-between;
        
    }
    @include responsive(fracture) {
        .container {
            padding-right: 3rem;
            padding-left: 3rem;
        }
    }

    @include responsive (tablet) {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;

        .container {
            padding-right: 24px;
            padding-left: 24px;
        }

       &__inner-wrapper {
        display: none;
       }

       .site-logo {
        margin-right: auto;
       }
    }
    

}
// HEADER END